name: CI

on:
    pull_request:
        branches: [master, "feature/*"]
    push:
        branches: [master, "feature/*"]

permissions:
    contents: read
    pull-requests: write

jobs:
    ci:
        uses: ./.github/workflows/reusable-ci.yml
